/* General Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #0c0c0c;
    color: white;
    font-size: large;
}

section {
    background-color: #171717;
    padding: 3%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    position: ab;
}

h1 {
    font-size: 200%;
    font-weight: bold;

    color: white;
    border-bottom: 2px dashed white;

    margin-top: 0%;
    padding: 1%;
}

h2 {
    font-size: 40px;
    border-bottom: 2px dashed white;
    margin-bottom: 6.5%;
}

h3 {
    border-bottom: 0.05em solid white;
}

table th {
    padding: 2px;
    border: white solid 4px;
}

table td {
    border: solid white 1px;
    padding: 7px;
}

span {
    color: blue;
    background-color: white;
}

/* General class styling */
.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
        url(https://i.pinimg.com/474x/c5/11/65/c511653caf710592e6f8f72f36be922d.jpg);
    text-align: center;

    margin: auto;

    border-bottom: solid 1px;
}

.content {
    padding: 1.5%;
    margin-left: 20%;
    margin-right: 20%;
}

.image {
    height: 200px;
    width: 200px;

    border-radius: 10px;
}

.tableRow {
    display: table-row;
}

.tableCell {
    color: black;
    background: linear-gradient(40deg, green, yellow, red);
    padding: 20px;
    border: white solid 3px;
    display: table-cell;
}

/* Example-Exclusive class styling */

#textshadow {
    color: black;
    text-shadow:
        greenyellow 3px 3px,
        gold -3px -3px,
        white 0px 0px 20px;
    font: bold 30px Helvetica;
}

ul#listUL li {
    display: inline;
    border: solid rgb(165, 78, 51);
    padding: 2px;
}

ul#listUL li :hover {
    background-color: rgb(255, 217, 160);
}

/* Notice how many elements are in here. This is a very specific element attribute. in ID, no space is needed. notice no space at ul#listUL */
ul#listUL li a {
    text-decoration: none;
    color: rgb(165, 78, 51);
}

#pseudo {
    border: solid white 2px;
}

#pseudo::before {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
}

#pseudo:hover::after {
    content: "Hello World!";
    color: orange;
}

#pseudo:hover {
    color: green;
}

#boxes-example {
    margin: 50px;
    margin-left: 30%;
    padding: 40px;
    padding-right: 10em;
    border: solid white 4px;
}

#border-example {
    padding: 20px;
    border-radius: 20px;
    border-left: solid rgb(82, 212, 43);
    border-top: dashed;
    border-right: double;
    border-bottom: dotted;
}

#background-image-example {
    padding: 7%;
    border-radius: 20px;
    border: solid 2px rgb(73, 73, 73);
    background-image: url(https://wallpapercave.com/wp/wp3377140.jpg);
}

#block {
    display: block;
}

#float {
    margin-top: 3%;
    margin-left: 1%;
    float: right;
}

#absolute {
    opacity: 0.3;

    position: absolute;

    right: 430px;
}

#fixed {
    opacity: 0.3;
    position: fixed;

    left: 20px;
    top: 192px;

    padding: 2%;
    border-radius: 20px;
    border: solid 2px rgb(73, 73, 73);

    background-image: url(https://wallpapercave.com/wp/wp3377140.jpg);
}

#fixed:hover {
    opacity: 1;
}

#relative {
    position: relative;

    display: inline-block;
    right: 70px;
    top: 60px;
}

#overflow-1 {
    height: 125px;
    overflow: scroll;
}

#overflow-2 {
    height: 12px;
    width: 39px;
    overflow: hidden;
}

#sample-boxes {
    display: inline-block;
    margin: 1%;
    border: white solid 2px;
    color: white;
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
    padding: 3px;
}

#special-sample-box {
    cursor: url("pogchamp.ico"), default;
    display: inline-block;
    margin: 1%;
    border: white solid 2px;
    color: white;
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
    padding: 3px;
}

#sameStyle1,
#sameStyle2 {
    background-color: aqua;
    color: black;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

#aye {
    color: blanchedalmond;
    background: blue;
}
